nextflow.enable.dsl=2

params {
    sample {
        path = '/path/to/sample_dir'
        name = 'Sample_XYZ'
    }

    gpu {
        id = '0'
    }

    denovo {
        engines = ['casanovo', 'pepnet', 'instanovo']
        min_score = 0.75
        min_length = 8

        casanovo {
            model_ckpt = '/opt/casanovo/models/casanovo_v4_2_0.ckpt'
            config_yaml = '/configs/casanovo.yaml'
        }

        pepnet {
            script = '/opt/PepNet/denovo.py'
            model_h5 = '/opt/PepNet/model.h5'
        }

        instanovo {
            module_call = 'instanovo.transformer.predict'
            model_ckpt = '/opt/InstaNovo/instanovo_extended.ckpt'
        }
    }

    database_build {
        human_fasta = '/ref/fasta/UP000005640_9606_processed_tag_0.fasta'
        contaminants_fasta = '/ref/fasta/Contaminants_tag_0.fasta'
        te_db_fasta = '/ref/fasta/hg38_rmsk_6_frame_singleLine_done.fasta'
        te_selection {
            method = 'blast'
            chunks = 15
            threads_per_chunk = 4
        }
        add_decoy = true
    }

    search_engines {
        comet {
            enable = true
            params_file = '/configs/comet_iprophet.params'
        }

        msfragger {
            enable = true
            base_params = '/configs/closed_fragger.params'
        }

        msgfplus {
            enable = true
            params_file = '/configs/MSGFPlus_Params_iprophet.txt'
        }
    }
}
    

process {
    withName: CasanovoSearch {
        container = 'quay.io/protio/casanovo:4.2.0'
    }
    withName: InstaNovoSearch {
        container = 'quay.io/biocontainers/instanovo:1.2.2--pyhdfd78af_1'
    }
    withName: PepNetSearch {
        conda = "${projectDir}/envs/pepnet.yml"
    }

    withName: CasanovoParseAndFilter {
        conda = "${projectDir}/envs/python_utils.yml"
    }
    withName: InstaNovoParseAndFilter {
        conda = "${projectDir}/envs/python_utils.yml"
    }
    withName: PepNetParseAndFilter {
        conda = "${projectDir}/envs/python_utils.yml"
    }
    withName: MergeDenovoResults {
        conda = "${projectDir}/envs/python_utils.yml"
    }
    withName: NormalizeFasta {
        conda = "${projectDir}/envs/python_utils.yml"
    }
    withName: FilterILEquivalence {
        conda = "${projectDir}/envs/python_utils.yml"
    }
    withName: GenerateDecoy {
        conda = "${projectDir}/envs/python_utils.yml"
    }
    withName: ExtractTEFromFasta {
        conda = "${projectDir}/envs/python_utils.yml"
    }
    
    withName: CometSearch {
        container = 'quay.io/biocontainers/comet-ms:2024011--hb319eff_0'
    }
    withName: MSFraggerSearch {
        container = 'quay.io/biocontainers/msfragger:4.2--py311hdfd78af_0'
    }
    withName: MSGFPlusSearch {
        container = 'quay.io/biocontainers/msgf_plus:2024.03.26--hdfd78af_0'
    }
    
    withLabel: 'blast' {
        container = 'quay.io/biocontainers/blast:2.17.0--h66d330f_0'
    }
    withLabel: 'tpp' {
        container = 'biocontainers/tpp:v5.2_cv1'
    }

}